<br><br>
<div class="container bg-black container-b text-white mt-5">

    <div class="row text-center">
        <div class="col-sm-3">
            <a [routerLink]="['/houses/detalhes', 'grifinoria']">
                <img src="./assets/images/logo-grifinoria.png" class="logo-house" />
                <h4 class="text-white">Grifinória</h4>
            </a>
        </div>
        <div class="col-sm-3">
            <a [routerLink]="['/houses/detalhes', 'corvinal']">
                <img src="./assets/images/logo-corvinal.png" class="logo-house" />
                <h4 class="text-white">Corvinal</h4>
            </a>
        </div>
        <div class="col-sm-3">
            <a [routerLink]="['/houses/detalhes', 'lufalufa']">
                <img src="./assets/images/logo-lufalufa.png" class="logo-house" />
                <h4 class="text-white">Lufa-lufa</h4>
            </a>
        </div>
        <div class="col-sm-3">
            <a [routerLink]="['/houses/detalhes', 'sonserina']">
                <img src="./assets/images/logo-sonserina.png" class="logo-house" />
                <h4 class="text-white">Sonserina</h4>
            </a>
        </div>
    </div>
</div>