<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="router-link-active">Hogwarts</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/houses/detalhes/grifinoria" routerLinkActive="router-link-active">Grifinória</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/houses/detalhes/corvinal" routerLinkActive="router-link-active">Corvinal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/houses/detalhes/lufalufa" routerLinkActive="router-link-active">Lufa-Lufa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/houses/detalhes/sonserina" routerLinkActive="router-link-active">Sonserina</a>
            </li>

        </ul>

    </div>
</nav>

<router-outlet></router-outlet>